.input-icon-container {
  display: flex;
  align-items: center;
}

.input-icon-container input {
  flex: 1; /* Esto hace que el input ocupe todo el espacio disponible excepto el del icono */
  margin-right: 5px; 
}

.input-icon {
  cursor: pointer; 
}

.components{
  background-color: #E7F0FE ;
  height: 100vh;
  padding: 0 8vw;
  
}