.input-icon-container {
  display: flex;
  align-items: center;
}

.input-icon-container input {
  flex: 1; /* Esto hace que el input ocupe todo el espacio disponible excepto el del icono */
  margin-right: 5px; /* Espacio entre el input y el icono */
}

.input-icon {
  cursor: pointer; /* Cambia el cursor a una mano para indicar que el icono es interactivo */
}

.components{
  background-color: #E7F0FE ;
  height: 100vh;
}