

.navbar {
  background-color: #E7F0FE ; /* Fondo claro */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  /* Otros estilos que necesites */
}

.components{
  background-color: #E7F0FE ;
  height: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background-color: #E7F0FE; Fondo claro */
  
}

.add-group{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  /* Otros estilos que necesites */
}

/* Añade estilos específicos para iconos si es necesario */
.icon-user {
  /* Estilos para el icono de usuario en el navbar */
}

.icon-search {
  /* Estilos para el icono de búsqueda */
}

